@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #a2cece;
  --gradient-color-2: #c0d7d5;
  --gradient-color-3: #accdc4;
  --gradient-color-4: #c6e7d7;
}


/* The bottom stuff feels hacky -- not responsive design */

/* 
* Element we use to apply the shadow.
* You can use any element instead. Just note 
* it requires the use of `position: relative` 
* and some `background`.
*/
.box {
  /* Required properties */
  position: relative;

  /* Use  your own styles here */
  margin: 0px;
  width: 200px;
  height: 35px;
}

/* 
* Provided by the Generator. 
* This is what creates the shadow.
*/
.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: all 0.3s;
}

/* 
* Provided by the Generator.
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
}